<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Compilers" version="2.9.0" targetFramework="net461" developmentDependency="true" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net461" />
  <package id="SharpGL.WPF" version="2.4.0.0" targetFramework="net461" />
  <package id="WriteableBitmapEx" version="1.5.1.0" targetFramework="net461" />
</packages>