<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SearchAPISoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.mouser.com/service/searchapi.asmx" binding="basicHttpBinding" bindingConfiguration="SearchAPISoap" contract="MouserSearchApi.SearchAPISoap" name="SearchAPISoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
